* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  position: fixed;
  z-index: 10000;
  top: 0;
  left: 0;
  right: 0;
  user-select: none;
  background: #fbfbfb;
  box-shadow: 0 1px rgba(7, 28, 71, 0.12);
}

.header-main {
  display: flex;
  box-sizing: border-box;
  height: 60px;
  padding: 16px 20px 0;
}

.mobile-logo {
  display: none;
}

.header-logo {
  width: 36px;
  min-width: 36px;
  height: 44px;
  margin-right: 44px;
}

.mobile-form {
  display: none;
}

.header-form {
  position: relative;
  z-index: 1;
  display: flex;
  border-radius: 12px;
  flex: 0 1 568px;
  margin-right: 24px;
}

.header-form-inputWrapper {
  display: flex;
  overflow: hidden;
  flex: 1 1;
  box-sizing: border-box;
  height: 44px;
  border: 2px solid #fc0;
  border-radius: 12px;
  background: #fff;
}

.header-form-input {
  flex: 1 1;
  box-sizing: border-box;
  padding-left: 14px;
  font-family: inherit;
  font-size: 16px;
  text-overflow: clip;
  color: #000;
  border: 0;
  outline: 0;
  background: initial;
}

.header-form-clear {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  cursor: pointer;
  color: rgba(84, 96, 122, 0.68);
  border: 0;
  background-color: transparent;
  transition: color 0.2s ease-in-out;
}

.header-actions {
  display: flex;
  flex: 1 1;
  margin-right: 8px;
}

.header-actions-item {
  width: 44px;
  height: 44px;
  cursor: pointer;
  color: rgba(84, 96, 122, 0.68);
  border: 0;
  border-radius: 50%;
  background-color: transparent;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-actions-item:hover {
  color: #000;
  background-color: rgba(7, 28, 71, 0.05);
}

.header-actions-spacer {
  flex-grow: 1;
}

.header-login {
  display: flex;
  align-self: center;
}

.header-link {
  display: inline-block;
  box-sizing: border-box;
  height: 36px;
  padding: 10px 12px;
  font-size: 13px;
  line-height: 16px;
  white-space: nowrap;
  text-decoration: none;
  color: #000;
  border-radius: 10px;
  background-color: rgba(7, 28, 71, 0.06);
  transition: background-color 0.2s ease-in-out, scale 0.2s ease-in-out;
}

.header-link:not(:last-child) {
  margin-right: 8px;
}

.header-registration:hover {
  background-color: rgba(7, 28, 71, 0.12);
}

.header-link-login {
  background-color: #fc0;
  color: #000;
}

.header-link-login:hover {
  background-color: #ffd633;
}

.header-navigation {
  display: flex;
  height: 44px;
  padding-left: 116px;
}

.header-navigation-cutted {
  display: flex;
  overflow: hidden;
}

.header-navigation-tab {
  padding: 0 10px;
  font-size: 15px;
  line-height: 44px;
  white-space: nowrap;
  text-decoration: none;
  text-transform: lowercase;
  color: rgba(84, 96, 122, 0.68);
  outline: 0;
}

.header-navigation-tab:first-child {
  padding-left: 0;
  padding-right: 0;
}

.header-navigation-tab:nth-of-type(2) {
  padding-left: 15px;
}

.header-navigation-tab-hover:hover {
  color: #d00;
}

.header-navigation-tab-selected {
  position: relative;
  font-weight: 700;
  text-align: center;
  color: #000;
}

.header-navigation-tab-selected::after {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  content: "";
  border-top: 2px solid #000;
  border-radius: 2px;
}

.AliceFabContainer {
  position: fixed;
  z-index: 9999;
  right: 1.2em;
  bottom: 1.6em;
  font-size: 20px;
  text-align: right;
}

.AliceFabButton {
  display: inline-block;
  width: 2.2em;
  height: 2.2em;
  font-size: inherit;
  cursor: pointer;
  border: 0;
  border-radius: 50%;
  background-color: inherit;
  background-image: url(./images/fab-icon-new.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 2.2em;
  transition: transform ease-out 0.15s;
  will-change: transform;
}

.AliceFabButton:hover {
  transform: scale(1.15);
}

.main {
  box-sizing: border-box;
  min-width: 600px;
  min-height: 100%;
  padding-top: 123px;
  padding-bottom: 6px;
  margin-left: 84px;
  padding-left: 16px;
  width: 568px;
  background-color: #fbfbfb;
}

.serp-list {
  list-style: none;
}

.serp-item {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 10px 16px;
  border-radius: 16px;
  background-color: #fff;
  box-shadow: 0 4px 12px 0 #0d234308;
  -moz-box-shadow: 0 4px 12px 0 #0d234308;
  -webkit-box-shadow: 0 4px 12px 0 #0d234308;
  line-height: 1.2;
  margin-bottom: 10px;
}

.typo-link {
  color: navy;
  font-size: 18px;
  text-decoration: none;
}

.typo-link:hover {
  color: #d00;
}

.path-item:hover {
  color: #d00;
}
.favicon img {
  position: absolute;
  top: 11px;
  left: -28px;
  width: 16px;
  height: 16px;
  background-size: 16px;
}

.path-item {
  display: flex;
  align-items: center;
  color: #006000;
  font-size: 14px;
  text-decoration: none;
}

.path-separator {
  margin: 0 0.3em;
}

.RyOBshaCCA {
  margin-left: 8px;
  margin-right: 6px;
}

.organic__reviews {
  position: relative;
  padding-left: 16px;
  color: #000;
}

.organic__reviews::before {
  content: "";
  width: 16px;
  height: 16px;
  background-size: 16px;
  left: -2px;
  bottom: 0;
  position: absolute;
  background: url(/images/star-solid.svg) no-repeat center;
}

.organicTextContentSpan {
  margin-top: 4px;
  font-size: 13px;
  color: #333;
}
.organicTextContentSpan a {
  text-decoration: none;
  color: rgba(84, 96, 122, 0.68);
}

.sitelinks {
  margin-top: 4px;
  font-size: 13px;
  color: navy;
}

.sitelinks-Item {
  position: relative;
  margin-right: 12px;
}

.sitelinks-Item:nth-of-type(2)::before {
  content: "";
  position: absolute;
  left: -9px;
  display: inline-block;
  top: 55%;
  width: 2px;
  height: 2px;
  background-color: #333;
}

.sitelinks-Item:nth-of-type(2)::after {
  content: "";
  position: absolute;
  right: -9px;
  top: 55%;
  display: inline-block;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background-color: #333;
}

.related-header {
  margin: 18px 0 12px 16px;
  font-size: 18px;
  color: #333;
}

.relatedBottom-items {
  display: flex;
  margin-bottom: 34px;
}

.relatedBottom-column {
  display: flex;
  flex: 1 1;
  flex-direction: column;
  min-width: 130px;
  max-width: 400px;
  vertical-align: top;
  margin-right: 8px;
}

.relatedBottom-item {
  display: inline-flex;
  align-items: center;
  margin-bottom: 8px;
  box-sizing: border-box;
  border-radius: 12px;
  width: 100%;
  min-width: 280px;
  height: 60px;
  padding: 0 14px;
  white-space: inherit;
  box-shadow: 0 4px 10px 0 rgba(13, 35, 67, 0.03);
  font-size: 15px;
  color: #333;
  text-decoration: none;
  transition: background-color 0.2s ease-in, transform 0.2s ease-in;
}

.relatedBottom-item:hover {
  background-color: rgba(7, 28, 71, 0.12);
  color: #000;
}

.relatedBottom-img {
  width: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 38px;
  background-color: rgba(7, 28, 71, 0.05);
  opacity: 0.5;
  border-radius: 50%;
  color: rgba(84, 96, 122, 0.68);
  margin-right: 14px;
}

.pager {
  margin-left: 16px;
  margin-bottom: 26px;
}

.pages {
  display: flex;
  list-style: none;
}

.page {
  margin: 0 4px;
  border-radius: 50%;
  transition: background 0.2s ease;
  width: 38px;
  height: 38px;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.page a {
  font-size: 18px;
  text-decoration: none;
  color: #333;
  background: transparent;
}

.page:first-child {
  background: rgba(7, 28, 71, 0.06);
}

.page:hover {
  background: rgba(7, 28, 71, 0.06);
}

.page:last-child:hover {
  background: none;
}

.footer {
  display: flex;
  min-width: 600px;
  padding: 7px 44px 37px 116px;
  font-size: 15px;
}

.footer-content {
  display: flex;
  align-items: center;
}

.links-group {
  padding: 3px 37px 3px 3px;
  text-decoration: none;
  transition: color 0.2s ease, transform 0.1s ease-out;
  font-size: 15px;
  display: flex;
  align-items: center;
}

.links-group img {
  margin-right: 12px;
  opacity: 0.5;
}

.link {
  display: flex;
  align-items: center;
  color: #000;
  opacity: 0.5;
  transition: 0.2s ease, transform 0.1s ease-out;
}

.link:hover {
  opacity: 1;
}

.links-group img:hover {
  opacity: 1;
}

@media (max-width: 1085px) {
  .ya {
    display: none;
  }
}

@media (max-width: 990px) {
  .cart {
    display: none;
  }
  .header-main {
    padding: 16px 12px 0;
  }
  .header-logo {
    margin-right: 12px;
  }
  .header-navigation {
    padding-left: 76px;
  }
  .main {
    margin-left: 12px;
  }
  .favicon img {
    left: -20px;
  }
  .footer {
    padding-left: 44px;
  }
}

@media (max-width: 912px) {
  .header-registration {
    display: none;
  }
}

@media (max-width: 1023px) {
  .set {
    display: none;
  }
}

@media (max-width: 819px) {
  .error {
    display: none;
  }
}

@media (max-width: 630px) {
  .header {
    position: static;
    box-shadow: none;
    border-radius: 0 0 16px 16px;
  }

  .header-main {
    justify-content: space-between;
    align-items: center;
    padding: 8px 23px 0;
    height: 64px;
    margin-top: 5px;
  }

  .header-logo {
    height: auto;
    width: auto;
    margin-right: 0;
  }

  .header-logo img {
    width: 52px;
    height: 52px;
  }

  .mobile-logo {
    display: block;
    width: 36px;
  }

  .header-form,
  .header-actions-item,
  .header-link,
  .header-actions,
  .header-login,
  .favicon img,
  .AliceFabContainer,
  .bing,
  .dots,
  .sitelinks {
    display: none;
  }

  .error,
  .set,
  .ya {
    display: block;
  }

  .mobile-form {
    display: block;
    padding: 12px 15px 0;
    line-height: 22px;
    font-size: 16px;
  }

  .header-form-inputWrapper {
    height: 52px;
  }

  .btn-menu {
    opacity: 0.5;
  }

  .header-navigation {
    padding-left: 12px;
    font-size: 16px;
  }

  .header-navigation-cutted {
    display: flex;
  }

  .main {
    background: #eeeff2;
    margin-left: 0;
    padding-top: 8px;
    padding-left: 0;
    width: 100%;
    min-width: 100%;
  }

  .serp-item {
    padding: 16px 15px;
  }

  .typo-link {
    font-size: 20px;
  }

  .path-item {
    flex-wrap: wrap;
  }

  .relatedBottom-items {
    flex-direction: column;
    padding: 0px 15px;
  }

  .relatedBottom-column {
    margin-right: 0;
  }

  .relatedBottom-item {
    margin-bottom: 4px;
    background-color: #fff;
  }

  .footer {
    width: 100%;
    min-width: 100%;
    background: #eeeff2;
    padding: 0px 20px 25px;
  }

  .footer-content {
    flex-direction: column;
    align-items: flex-start;
  }

  .links-group {
    padding: 11px 0;
  }

  .link {
    color: rgba(62, 70, 94, 0.8);
    opacity: 1;
    font-size: 16px;
    font-weight: 500;
  }
}
